<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    <form th:action="@{/user/new}" th:object="${user}" method="post">
        <br/> firstName:
        <label>
            <input type="text" th:field="*{firstName}"/>
        </label>
        <br/> lastName:
        <label>
            <input type="text" th:field="*{lastName}"/>
        </label>
        <br/> Email:
        <label>
            <input type="text" th:field="*{email}"/>
        </label>
        <br/>
        <input type="submit" value="Save"/>
        </form>
</div>
</body>
</html>
